form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

input[type="text"].search_bar {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 20px;
    font-size: 20px;
    width: 800px;
    margin: 0 auto;
    background-image: url('../img/recherche.png');
    background-position: 580px center;
    /* Positionne l'icône à gauche de la barre de recherche */
    background-repeat: no-repeat;
    padding-left: 40px;
    /* Décale le texte pour laisser de la place à l'icône */
    background-size: 30px;
    margin-left: 400px;
}

button[type="submit"].recherch_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-right: 300px;
    width: 140px;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}