.titre_ann {
    color: #637A30;
    font-size: 7mm;
    text-align: center;
    margin-left: 2%;
    margin-top: -1%;
}

.form_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c0ccaa;
    position: relative;
    width: 50%;
    height: auto;
    left: 27%;
    border-radius: 7%;
    opacity: 0.8;
    margin-top: -2%;
}

.form_field_titre label,
.form_field_titre input {
    display: block;
}

.form_field_nom label,
.form_field_nom input {
    display: block;
    margin-top: 10px;

    /* Ajout d'une marge pour l'espace entre les champs */
}

.form_field_titre {
    width: 100%;
}

.form_field_titre label {
    position: relative;
    font-weight: normal;
    font-size: 5.8mm;
    margin-left: 103px;
    margin-top: -417px;
}

.form_field_titre input {
    display: block;
    position: relative;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-top: 20px;
    width: 578px;
    height: 34px;
    margin-left: -180px;
    margin-top: 0px;
    border: 3px solid gray;


}


.form_field_nom label {
    position: relative;
    display: block;
    font-weight: normal;
    font-size: 5.8mm;
    margin-left: -221px;
    margin-top: -366px;
}

.form_field_nom input {
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-top: 10px;
    width: 578px;
    height: 34px;
    margin-left: -508px;
    border: 3px solid gray;

}


.form_field_ville {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.form_field_ville label {
    font-weight: normal;
    font-size: 5.8mm;
    margin-bottom: 5px;
    margin-top: -228px;
    margin-left: -309px;
}

.form_field_ville input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 578px;
    margin-left: -601px;
    height: 34px;
    border: 3px solid gray;

}


.form_field_description label {
    display: block;
    font-size: 5.8mm;
    margin-bottom: 10px;
    margin-top: 4px;
    margin-left: -346px;
}

.form_field_description textarea {
    display: block;
    width: 578px;
    height: 159px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: vertical;
    margin-left: -603px;
    border: 3px solid gray;

}

/* .form_field_date_depart {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: -323px;
    
    margin-top: 10px;
} */

.form_field_date_depart label {
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
    text-align: center;
    font-size: 5.8mm;
    margin-top: 358px;
    margin-left: -990px;

}

.form_field_date_depart input[type="date"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: -63px;
    margin-left: -579px;
    width: 150px;
    border: 3px solid gray;

}

.form_field_date_retour label {
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
    text-align: center;
    font-size: 5.8mm;
    margin-top: 351px;
    margin-left: -250px;
}

.form_field_date_retour input[type="date"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: -43px;
    margin-left: -204px;
    width: 150px;
    border: 3px solid gray;

}

.form_field_photo label {
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
    text-align: center;
    font-size: 5.8mm;
    margin-top: 573px;
    margin-left: -1020px;

}

.form_field_photo input[type="file"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: -800px;
    margin-left: -583px;
    width: 200px;
    background-color: #13957d;


}

.envoie_ann {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: #13957d;
    margin-top: 757px;
    margin-left: -389px;
    border: 3px solid gray;

}

/*Pour les ecrans ayants un largeur max 952px*/
@media (max-width: 952px) {
    .form_cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #c0ccaa;
        position: relative;
        width: 620px;
        height: 840px;
        left: 170px;
        border-radius: 50px;
    }

    .titre_ann {
        color: #637A30;
        font-size: 7mm;
        text-align: center;
        margin-left: 100px;
    }
}