.navbar {
	width: 100%;
	height: 50px;
	background-color: #13957d;
	display: flex;
	align-items: center;
	justify-content: space-between
}

.navbar h1 {
	color: white;
	font-size: 20px;
	margin-left: 50px;
	font-style:inherit
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 100px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 80px;
}

a {
	text-decoration: none;
}

.icon_profil {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}
img {
	margin-top: 10px;
	height: 60px;
	width: 100px;
  }

/* Pour les écrans ayant une largeur maximale de 952px */
@media (max-width: 952px) {
	.navbar {
		display: flex;
		flex-direction: row;
		height: auto;
		padding: 1.5% 0;
	}

	.nav_item {
		margin: 0 2%;
	}

	.white_btn {
		margin: 3% auto 0;
	}

	.navbar ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
	}
}